.bar-sub {
    width: 25%;
}

.bar-main {
    width: 50%;
}

@media screen and (max-width: 900px) {
    .bar-sub {
        display: none;
    }

    .bar-main {
        display: flex;
        align-items: center;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: right;
}

.color-orange {
    color: #da5408;
}

.container-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container-content {
    flex: 1;
    /*
    flex-grow : 1;    -> The div will grow in same proportion as the window-size
    flex-shrink : 1;  -> The div will shrink in same proportion as the window-size
    flex-basis : 0;   -> The div does not have a starting value as such and will
                     take up screen as per the screen size available for
                     e.g:- if 3 divs are in the wrapper then each div will take 33%.
     */
}

.display-flex {
    display: flex;
}

.default-cursor {
    cursor: default;
}

.div-right-align {
    margin-left: auto;
    margin-right: 10px;
}

.empty-line-space {
    margin-bottom: 15px;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


.one-row {
    display: inline;
}

.sub-element {
    width: 50%;
    min-width: 100px;
    padding-left: 20px;
}

.text-left-align {
    text-align: left;
}