.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

.center {
    display: flex;
    align-items: center;
    justify-content: right;
}

.default-cursor {
    cursor: default;
}

.div-right-align {
    margin-left: auto;
    margin-right: 10px;
}

.text-left-align {
    text-align: left;
}
