.border-dev-green {
    border: medium dashed green;
}

.border-dev-blue {
    border: medium dashed blue;
}

.border-dev-red {
    border: medium dashed red;
}

.background-dev-green {
    background-color: green;
}

.background-dev-blue {
    background-color: blue;
}

.background-dev-red {
    background-color: red;
}
