@import './dev.css';
@import "./base.css";

body, html {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    text-align: center;
}

header {
    background: black;
    color: aliceblue;
    overflow: auto;
    display: flex;
    line-height: 70px;
}

header p, header a {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

header a:link, header a:visited {
    text-decoration: none;
    color: aliceblue;
}

header a:hover {
    color: #da5408;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

nav {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
