@import './dev.css';
@import './base.css';

body,
html {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    text-align: center;
    min-width: 900px
}

@media screen and (max-width: 900px) {

    body,
    html {
        min-width: 375px
    }
}

button {
    padding: 10px 12px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    float: right;
    margin: 4px 5px;
    height: 40px;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top: 0;
}

footer h2 {
    margin-top: 0;
}

footer h2::after {
    margin-top: -20px;
    content: '';
    display: block;
    width: 15%;
    height: 3px;
    background-color: #da5408;
}

footer p,
footer .row-wrapper {
    line-height: 20px;
    margin: 0;
}

footer .element {
    width: 25%;
}

footer i {
    width: 5%;
    padding-right: 10px;
    justify-content: right;
}

header,
footer {
    background: black;
    color: aliceblue;
    overflow: auto;
    display: flex;
    line-height: 70px;
}

header p,
header a {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

header a:link,
header a:visited {
    text-decoration: none;
    color: aliceblue;
}

header a:hover {
    color: #da5408;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

nav {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}